.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  gap: 5px;
  color: #fff;
  margin-top: 2rem;
}
.pagination .page-num {
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 400;
}
.pagination .page-num:hover {
  background-color: #f4f2ff;
  color: #000;
}
.pagination .active {
  background-color: #f4f2ff;
}
